/* start variable */

:root{
    --white:white;
    --main-color:rgba(13, 131, 62, 0.719);
    --gre:#333;
    --second-color:#356033;
}
/* end variable */
/* start component */
.main-heading{
    text-align: center;
    line-height: 1.6;
    color: #333;
    margin-top: 70px;
}
.main-heading h2{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    position: relative;
    margin-bottom: 70px;
    color: var(--second-color);
    letter-spacing: 1px;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    bottom: -40%;
    height: 2px;
    width: 190px;
    background-color: #333;
    transform: translateX(-50%);
    left: 50%;
}
.main-heading h2::after{
    content: "";
    width: 14px;
    position: absolute;
    bottom: -55%;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    border: 2px solid #333;
    border-radius: 50%;
    height: 14px;
}

.main-heading p{
    background-color: var(--second-color);
    width: fit-content;
    transition: 0.5s;
    transition-delay: 1s;
    transition-property: width;
    padding: 50px;
    font-size: 20px;
    margin: auto;
    right: 0;
    border-radius: 50px;
    color: white;
}

.main-heading p:hover {
    margin-right: 0;
    width: 100%;
}
/* heading */
.section{
    padding-top: 95px;
    position: relative;
}

/* end component */
/* start  gobal rules */ 
*{
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
 body{
    /* background-color: black; */
    direction: rtl;
 }

html{
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End gobal rules */

/* Start header */
header {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
}

header .log{
  width: 70px;
  height: 70px;
}
header  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* max-height: 97px; */
}


header .container::before {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: var(--white);
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

header nav{
display: flex;
flex: 1;
align-items: center;
justify-content: flex-end;
}
header .container nav ul{
    display: flex;
}
header .container nav ul li:hover a{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);

}
header .container nav ul a:not(.Login) {
   text-decoration: none;
   color: var(--white);
   display: block;
   padding: 40px 10px;
   transition: 0.3s;
   font-size: 25px;
}
header .container nav ul .active{
    color:var(--main-color);
}
header .container .bar{
    position: absolute;
    left: -45px;
    top: 60px;
}
header .container .bar .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* position: absolute;
    top: 60px;
    right: 0; */
}

header .container .bar .icon:hover span:nth-child(2){
     width: 100%;
}
header .container .bar .icon span{
    height: 2px;
    background-color:aliceblue;
    margin-bottom: 5px;
    transition: 0.4s;

}
header .container .bar .icon  span:first-child{
    width: 100%;
}
header .container .bar .icon  span:nth-child(2){
    width: 60%;  
}
header .container .bar .icon  span:last-child{ 
    width: 100%;
    
}
/* header .container ol::after{
    content: "";
    border-style: solid;
    border-color: red blue green peachpuff;
    border-width: 30px;
} */

/* end header */

/* start landing*/
.landing{
    position: relative;
    height: 100vh;
    background-image: url(../images/2.jpg);
    background-size: cover;
}
 .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 /40%);
    background-attachment: fixed;
}

.landing .text{
    position: absolute;
    top: 60%;
    padding: 30px;
    background-color: var(--main-color);
    transform: translatey(-50%);
    color: var(--white);
    
}
.landing .text .content{
    width: 800px;
}
.landing .text .content h2{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.6;
}

.landing .text .content pre{
    font-size: 20px;
    line-height: 1.6;
}
/* end landing */

/* start tric */
.section{
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
.section .adv{
    text-align: right;
    margin-top: 100px;
    margin-left: auto;
    background-color: var(--second-color);
    width: fit-content;
    padding: 30px;
    border-radius: 50px;
    transition: 0.5s;
    transition-delay: 2s;
    transition-property: width;
    padding: 50px;
    left: 0;
    color: white;

}
.section .adv:hover{
    width: 100%;
    padding: 100px;
    font-size: 15px;
}
.section .adv h3{
    margin-bottom: 40px;
    font-weight: bold;
}
.section .adv ol li{
    list-style: decimal;
    line-height: 2.6;
}
.section form{
    display: flex;
    justify-content: center;
}
.section  form a{
    text-decoration: none;
    margin-top: 50px;
    color: white;
    background-color: var(--second-color);
    padding: 15px 20px;
    border-radius: 5px;
}
.section .boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.section .boxes .box{
    
}
.section .boxes .box img{
    width: 500px;
}
.section .boxes .box img:hover{
transform:  scale(1.4);
}
/* end tric */
/* start table */
.section table{
    width: 100%;
    text-align: center;
    border: 1px solid black;

}
 .section table th, td {
    padding-top:15px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  table tr{
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even){
    background-color: #a1cfa1e0;
  }

  .section .class{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 80px;
  }
  
  .section .container .image{
    margin-right: 50%;
    margin-bottom: 30px;
    position: relative;
  }

  .section .container .image::after{
  content: "";
  }
  .section .container .image::before{
  content: "";
  position: absolute;
  right: -70px;
  top: -40px;
  width: 120px;
  height: 300px;
  border-top: 80px solid var(--second-color);
  z-index: -1;
  border-right: 80px solid var(--second-color);
  }

/* end table */

/* start second para */
.section .content{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}
.section .content p{
    flex-basis: calc(100% - 500px);
    margin-top: 60px;
    line-height: 1.6;
    font-size: 25px;
    color: #6c6262;
    position: relative;
}
.section .content p::after{
    content: "";
    position: absolute;
    height: 2px;
    color: #356033;
    width: calc(100%-30px);

}
.section .content .imag,img{
    position: relative;
    height: 375px;
    width: 250px;
}
.section .content .imag::after{
    content: "";
    position: absolute;
    background-color: var(--second-color);
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.section .content .imag::before{
    content: "";
    position: absolute;
    right: -150px;
    top: -40px;
    /* background-color: #10cab7; */
    width: 120px;
    height: 300px;
    border-bottom: 80px solid var(--second-color);
    z-index: -1;
    border-left: 80px solid var(--second-color);
}
  

/* end second para */

/* start  third para */

/* end third para */
/* start video  */
.video{
    position: relative;
}
.video video{
    width: 100%;
    height: calc(100% + 80px);
}
.video .text{
    background-color: #356033b8;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    transform: translateY(-9%);
    padding: 30px;
}
.video .text h2{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 40px;
}
.video .text ul{
    font-size: 20px;
    font-weight: bold;
}
/* end video  */
/* start dang */
.main{
    width: 100%;
    display: grid;
    grid-template-columns:  auto auto ;
    grid-gap: 60px;
}

.main-heading .title{
    margin-top: 60px;
}
.main-heading .main .caption{
    z-index: -1;
    background-color: #ffffff63;
    position: absolute;
    bottom: -166px;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.main-heading .main .box{
    overflow: hidden;
    position: relative;
}
.main-heading .main .box:hover .caption{
    z-index: 2;
    bottom: 0;

}
.main-heading .main .box .para{
    height: 350px;
}
/* end dang */
/* start plan */

.section .box1{
display: grid;
grid-template-columns: auto auto;
grid-gap: 20px;
}
/* end plan */

/* start contact  */
.contact {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}


.contact .container .content {
    display: flex;
    justify-content: space-between;

}

.contact .container .content form {
    flex-basis: 70%;
}


.contact .container .content form .main-input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
}

.contact .container .content form .main-input:focus {
    outline: none;
}

.contact .container .content form textarea.main-input {
    height: 200px;
}

.contact .container .content form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    text-transform: uppercase;
    margin-right: auto;
    cursor: pointer;
    background-color: var(--second-color);
}

.contact .container .content .info {
    flex-basis: 25%;
}

.contact .container .content .info h4 {
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: gray;

}

.contact .container .content .info .phone {
    display: block;
    color:gray;
    margin-bottom: 10px;
}

.contact .container .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

.contact .container .content .info a {
    text-decoration: none;
    color: gray;
}

/* end contact  */
/* start footer */
.footer{
    padding: 60px;
    text-align: center;
    background-color:#2f362d;
    margin-top: 50px;
    position: relative;
}

.footer  p,a{
    color: rgba(255, 255, 255, 0.733);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.footer .design{
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .design p,a{
    font-size: 15px;

}
.footer p span{
  color: var(--second-color);
}
/* end footer */

